* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* --main1: #1b222c; */
  /* --main2: #191d26; */
  /* --main3: #12151c; */
  --main1: rgb(8, 8, 8);
  --main2: rgb(12, 12, 12);
  --main3: rgb(22, 22, 22);
  --secondary1: #661b1c;
  --secondary2: #5d1819;
  --secondary3: #531516;
  --secondary3: #1b0a0a;
  --secondary4: #130707;
  --accent1: #b5ca8d;
  --accent4: #6e633d;
  --accent1: #bfc0c0; /* silver */
  --accent1: #f4fec1; /* cream */
  --accent1: #efd6ac; /* wheat */
  --accent1: #d7be82; /* ecru */
  --accent1: #a2a79e;
  --accent2: #7b7263;
  --accent3: rgba(135, 135, 135, 0.569);
  --mainFont: "IM Fell English SC", serif;
  --secondaryFont: "Arvo", serif;
  --fontColor1: rgba(255, 255, 255, 0.507);
}

html {
  background: url("../img/grainywallpaper.png"), rgba(12, 12, 12, 0.854);
  background-blend-mode: overlay;
  font-family: "Verdana, Geneva, Tahoma, sans-serif";
}

header {
  height: 300px;
  background: linear-gradient(
      to bottom,
      rgba(26, 26, 26, 0.722),
      rgba(12, 5, 5, 0.41)
    ),
    url("../img/foggyforest.jpg") 50% 75% / cover;
  background-blend-mode: multiply;
  text-align: center;
  line-height: 300px;
  box-shadow: 0px 0px 10px #000 inset;
}

h1 {
  font-family: var(--mainFont);
  font-weight: 400;
  font-size: 40px;
  color: var(--accent1);
  text-shadow: 0px 0px 3px black;
  transition: font-size 1s linear, background 1s linear;
}

h1:hover {
  background-color: rgba(0, 0, 0, 0.819);
}

#grims {
  color: inherit;
  transition: color 1s linear;
}

h1:hover #grims {
  color: var(--secondary2);
}

nav {
  background: var(--secondary3);
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 5px rgba(8, 8, 8, 0.444);
  z-index: 10;
}

ul {
  padding: 10px;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

a {
  font-family: var(--secondaryFont);
  font-size: 14px;
  text-transform: lowercase;
  text-align: center;
  text-shadow: 0 0 3px rgba(80, 80, 80, 0.25);
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--accent4);
  transition: color 1s linear;
}

a:hover {
  color: var(--secondary1);
  text-shadow: 0 0 10px rgb(7, 7, 7);
}

#current {
  color: var(--secondary1);
}

main {
  background: var(--main2);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: var(--fontColor1);
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.portrait {
  width: 80px;
  height: 80px;
  background: var(--accent3);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #000 inset;
  transition: width 0.5s linear, height 0.5s linear;
  outline: 3px solid #6e633d42;
  outline-offset: -1px;
}

.set1 {
  margin-bottom: 20px;
  background-blend-mode: multiply;
}

.character-name {
  position: relative;
  top: -40px;
  font-size: 70px;
  font-family: "Qwitcher Grypen", cursive;
  font-style: italic;
  text-transform: lowercase;
  text-align: center;
  color: var(--accent4);
  text-shadow: 1px 1px 5px var(--secondary1);
}

.set2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-blend-mode: multiply;
  margin: 20px 0;
}

#img1 {
  background: url("../img/trees.jpg") 50% 50% / 110%, rgba(123, 0, 0, 0.8);
}

#img2 {
  background: url("../img/skull.jpg") 10% 50% / cover, rgba(123, 0, 0, 0.8);
}

#img3 {
  background: url("../img/hands.jpg") 10% 100% / 280%, rgba(123, 0, 0, 0.8);
}

#img4 {
  background: url("../img/grimsworth.jpg") 10% 50% / 150%, rgba(123, 0, 0, 0.8);
}

#img5 {
  background: url("../img/provider.jpg") 50% 70% / cover, rgba(123, 0, 0, 0.8);
}

#img6 {
  background: url("../img/aa.jpg") 50% 70% / cover, rgba(123, 0, 0, 0.8);
}

#img7 {
  background: url("../img/woman.jpg") 50% 20% / 130%, rgba(123, 0, 0, 0.8);
}

#img8 {
  background: url("../img/deadtree.jpg") 50% 50% / cover, rgba(123, 0, 0, 0.8);
}

#symbol {
  display: block;
  font-size: 80px;
  color: var(--secondary1);
  opacity: 0.4;
  text-align: center;
  margin: 30px 0;
}

h2 {
  font-family: var(--secondaryFont);
  text-align: center;
  font-variant: small-caps;
  font-weight: 400;
}

article {
  line-height: 2em;
}

.article-section-odd,
.article-section-even {
  transition: width 1s linear;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inline-article-odd,
.inline-article-even {
  transition: background 0.5s linear;
}

.accordion {
  width: 900px;
  height: 200px;
  margin: auto;
  display: block; /* for margin: auto to work it must be display block */
  background: white;
  border: 0;
  padding: 10px;
  color: black;
  font-family: "Port Lligat Slab", serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.accordion:hover {
  background: #ccc;
  cursor: pointer;
}

.accordion-title {
  color: var(--secondary2);
  font-weight: bold;
}

#acc1 {
  background: url("../img/castle.png") 50% 50% / cover fixed,
    rgba(123, 0, 0, 0.8);
  background-blend-mode: overlay;
}

.panel {
  display: none;
  width: 700px;
  margin: auto;
  padding: 10px;
  background: var(--secondary3);
}

footer {
  background: var(--main1);
  padding: 20px;
  font-family: "Verdana", Geneva, Tahoma, sans-serif;
  font-size: 11px;
  color: rgba(128, 128, 128, 0.166);
  text-align: center;
  line-height: 2em;
}

.footer {
  display: block;
}

@media screen and (min-width: 570px) {
  header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h1 {
    font-size: 3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  article {
    text-align: justify;
  }

  p {
    text-indent: 40px;
  }
}

@media screen and (min-width: 660px) {
  .article-section-odd,
  .article-section-even {
    width: 580px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    align-items: center;
    position: relative;
  }

  .article-section-odd {
    left: 35px;
  }

  .article-section-even {
    right: 35px;
  }

  .inline-article-even:hover,
  .inline-article-odd:hover {
    background: var(--main3);
  }

  .set1 {
    margin-bottom: -50px;
    width: 100px;
    height: 100px;
  }

  .set2 {
    width: 150px;
    height: 150px;
    z-index: 1;
    margin: 0;
  }

  .even {
    order: 2;
  }

  article {
    width: 600px;
    margin: auto;
    border: 1px solid #6e633d42;
    padding: 70px 20px 20px 20px;
  }

  .character-name {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  .inline-article-odd,
  .inline-article-even {
    flex: 1;
    position: relative;
    height: 300px;
    padding: 20px;
    text-align: left;
    font-size: 11px;
    background: var(--main1);
    border: 0;
  }

  .inline-article-odd {
    left: -70px;
    border-left: 90px solid var(--secondary3);
  }

  .inline-article-even {
    right: -70px;
    border-right: 90px solid var(--secondary3);
    order: 1;
  }
}

@media screen and (min-width: 1040px) {
  body {
    width: 1000px;
    margin: auto;
  }

  header {
    margin-top: 20px;
  }

  nav {
    width: 1020px;
    margin-left: -10px;
  }

  nav::before,
  nav::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -10;
    /* border-color: #242424 transparent transparent transparent; */
  }

  nav::before {
    left: 0;
    bottom: -10px;
    border-left: 10px solid;
    border-top: 10px solid;
    border-color: var(--secondary4) transparent transparent transparent;
  }

  nav::after {
    right: 0;
    bottom: 38px;
    border-right: 10px solid;
    border-bottom: 10px solid;
    border-color: transparent transparent var(--secondary4) transparent;
  }

  #inner {
    height: 300px;
    background: url("../img/fog.gif") 50% 40% / cover;
    opacity: 0.4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  h1 {
    font-size: 3.5em;
    position: relative;
    bottom: 300px;
  }

  .article-section-odd,
  .article-section-even {
    width: 705px;
  }
}
